################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CardsRecognitionStatic/.vs/CardsRecognitionStatic/v16
/CardsRecognitionStatic/x64/Debug
/CardsRecognitionStatic/x64/Release
/CardsRecognitionLive/.vs/CardsRecognitionLive/v16
/CardsRecognitionLive/x64/Debug
